.App {
  text-align: center;
  font-family: 'Bellota', cursive;;
  
}
body {
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
  text-decoration: none;

}

img {
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: auto;  
}

.ingredient {
  margin: 0 300px 0 300px;
  padding: 20px;
  /* border-style: inset; */
  font-size: 24px;

  
}
.direction {
  margin: 10px;
  padding: 0px;
  border-right-style: inset;
  border-left-style: outset;
  border-color: rgb(137, 137, 165);
  font-size: 20px;
  min-width: 300px;
  max-width: 800px;


}
.time {
  margin: 20px;
  font-size: 24px;
}
.serving {
  margin: 20px;
  font-size: 24px;
}


nav {
  display:flex;
  justify-content: flex-start;
  margin: 30px;
  padding: 20px;
  border-bottom-style: inset;
  font-size: 18px;
}
nav a{
  text-decoration: none;
}
link:hover{
  background-color: rgb(21, 21, 136);
}
.comment-container {
  margin: 50px 50px 50px 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column-reverse;
  border-left-style: outset;
}
.comment {
  margin: 0;
  font-size: 20px;
  
  
}

.comment-label {
  font-size: 12px;
}
.comment-content {
  font-size: 20px;
}

form {
  margin: 0 0 50px 0;
  padding: 0px;
}

.clap {
  font-size: 12px;
}


.clap-image:hover {
  background-color:grey;
  
}
i {
  margin: 5px;
}




